@import (reference) "../../../css/main.less";

// .c-m-hero {
//   background-color: #d4e7e6;
// }

.m-hero-coc {
  background-color: #d4e7e6;
}

.m-hero_tag {
  text-transform: uppercase;
  font-size: 0.7;
  padding-bottom: 6px;
}
