
django==4.2.20
gunicorn
whitenoise==3.3.1

sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
